*::selection {
  background-color: #E44D26;
  color: #fff;
}

body {
  background: #3400ac; /* Old browsers */
  background: -moz-linear-gradient(45deg, #3400ac 0%, #e20674 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #3400ac 0%,#e20674 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #3400ac 0%,#e20674 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3400ac', endColorstr='#e20674',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

p {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: #fff;
  opacity: 0.6;
}

a {
  text-decoration: underline;
  color: #fff;
}

.amp-logo {
  width: 100%;
  text-align: center;
}

.amp-logo-main {
  width: 140px;
  margin: 0;
}

.amp-logo-strapline {
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 3px;
}

.amp-logo-balls-container {
  height: 120px;
  width: 120px;
  margin: 30vh auto 50px auto;
  position: relative;
	-webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.amp-logo-ball {
  position: absolute;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 80px -1px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 80px -1px rgba(255,255,255,1);
  box-shadow: 0px 0px 80px -1px rgba(255,255,255,1);
}

.amp-logo-balls-container .amp-logo-ball:nth-child(1) {
  left: 45px;
}

.amp-logo-balls-container .amp-logo-ball:nth-child(2) {
  right: 0;
  top: 45px;
}

.amp-logo-balls-container .amp-logo-ball:nth-child(3) {
  left: 45px;
  bottom: 0;
}

.amp-logo-balls-container .amp-logo-ball:nth-child(4) {
  top: 45px;
}
