*::selection {
  background-color: #E44D26;
  color: #fff;
}

p {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #E44D26;
}

.amp-logo {
  width: 100%;
  text-align: center;
}

.amp-logo-main {
  width: 300px;
  margin: 150px auto 0 auto;
}

.amp-logo-strapline {
  text-transform: uppercase;
  font-size: 1.4em;
  letter-spacing: 3px;
}

